{% extends 'blog/base.html' %}

{% block content %}

        <div class="container-fluid pb-5">
            <div class="row gy-4 justify-content-center mt-3">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                    <img src="https://picsum.photos/300/300" alt="About" class="img-fluid rounded" style="max-width: 100%; height: auto;">
                </div>
                <div class="col-12 col-md-8 d-flex align-items-center">
                    <div class="content">
                        {{about_content}}
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}
    